.ttip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  /* width: max-width; */
  /* width: 900px; */
  /* background-color: white; */
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  /* top: 55px; */
  /* left: 105%; */
  /* left: -55px; */
  z-index: 1000;
}

* {
  font-family: "Ubuntu", sans-serif !important;
  z-index: 0;
}

.nav {
  display: inline-block;
  margin: 0 20px 20px;
}

.active {
  font-size: 1.5em;
}

.simple {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.vertical {display: flex; flex-direction: column; align-items: center; padding: 0 5px;}
.horizontal {display: flex; justify-content: flex-start; align-items: center; }
.same {box-sizing: border-box; height: 55px; padding: 0px; margin: 0px;}
/* .vertical.right {padding: 0 80px; } */

form.auth>input,form.auth>select {
  width: 270px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

input {
  border: 1px solid black;
}

td>input {
  width: 4em;
}

span input {
  width: 4em;
  margin-left: 10px;
}

.checkboxPair {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.checkboxPair>*{
  padding-right: 10px;
}

/* .checkboxPair>div{
  padding-bottom: 20px;
} */

/* .checkboxPair>input{padding-top: 20px;} */

/* .table-header-rotated {
  border-collapse: collapse;
  border: none;
}
.table-header-rotated td {
  width: 30px;
}
 .table-header-rotated th {
  padding: 5px 10px;
}
.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}
.table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
  border: none;
}
.table-header-rotated th.rotate > div {
  -webkit-transform: translate(25px, 51px) rotate(315deg);
      -ms-transform: translate(25px, 51px) rotate(315deg);
          transform: translate(91px, 21px) rotate(315deg);
  width: 30px;
}

.table-header-rotated th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
} */

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
